:root{
  --bgCol:#ccc;
  --selection:#333333ee;
  --text: black;
  --saved:PaleGreen;
  --error:LightSalmon;
  --idCol: red;
  --digits:mediumblue;
  --comments:#0006;
  --lh: 1em;
  --font: 26px/var(--lh) ete-mono, monospace;
  --footer:#999;
  --btn:#999;
  --activeline:#ffffff5e;
}
body[data-theme="dark"]{
  --bgCol:#222;
  --selection:yellow;
  --comments:yellow;
  --digits:DeepSkyBlue;
  --text: #999;
  --saved:#215b35;
  --footer:#000;
  --activeline:#4444445e;
  --btn: black;
  cursor: url(../img/cursor-dark.svg) 3 3, auto;
}
body{
  cursor: url(../img/cursor.svg) 3 3, auto;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  font:var(--font);
  color:var(--text);
  background-color: var(--bgCol);
  transition: all 4s linear;
}
nav{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.editor{
  background-color:transparent;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  white-space: pre;
  overflow: auto;
}
.message-box{
  display: flex;
  position: fixed;
  top:0;
  left:0;
  z-index: 4;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row-reverse;
  pointer-events: none;
  color:black;
}
.message-box .message, .keyled{
  text-align: center;
  min-width:1em;
  padding:4px;
}
.keyled{
  background:hsl(var(--kc), 100%, 50%);
}
.message-error{
  background:var(--text);
  color: white;
}
.message-log{
  background:var(--saved);
  color: black;
}
.layer{
  display: none;
  width:min(100%, 500px);
  height: 100vh;
  overflow-y: auto;
  background: white;
  position: fixed;
  color: #111;
  cursor: default;
  right:0;
  top: 0;
  z-index: 5;
  padding:4px;
}
.layer p, .layer ul{
  margin-bottom: var(--lh);
}
.layer li:before{
  content:"- ";
}
.layer button{
  background: none;
  color: #111;
  text-decoration: underline;
}
.layer button:hover{
  color: white;
}
.layer i{
  background: #ccc;
  font-style: normal;
}
button{
  background: var(--text);
  color:var(--btn);
}
button:hover{
  background-color: var(--btn);
  color: var(--text);
}
footer{
  position: fixed;
  right:0;
  bottom: 0;
  z-index: 5;
  display: flex;
  align-items: center;
}
footer p, footer button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  line-height: var(--lh);
}
footer p{
  background:var(--footer);
}
body[data-state="about"] .about{
  display: block;
}
.playing{
  background: hsl(var(--linecolor), 80%, 70%);
}
a{
  color:inherit; border-bottom:1px solid;
  text-decoration: none;
}

/* Editor */

.ͼ2 .cm-content{
  min-height: 100vh;
  padding-top: 0;
}
.cm-editor{
  width: 100%;
}
.cm-editor .cm-scroller{
  font: var(--font);
}
.cm-editor .cm-panels{
  border:none;
}
.cm-editor .cm-search{
  display: flex;
  align-items:center;
}
.cm-editor .cm-textfield, .cm-editor .cm-button, .cm-editor .cm-panel.cm-search label{
  font-size: inherit;
  font-weight: normal;
  border:none;
}
.cm-editor .cm-line{
  padding-left: 0em;
}
.ͼ2 .cm-activeLine { 
  outline:1px solid var(--text);
  background: var(--activeline);
}
.cm-editor .cm-gutters{
  display: none;
}
.cm-editor .cm-tooltip {
  border: none;
  background-color: none;
}
.cm-editor .cm-tooltip-autocomplete ul li{
  background:var(--bgCol);
  font:var(--font);
}
.cm-editor .cm-tooltip-autocomplete ul li[aria-selected]{
  background:var(--selection);
  color:var(--bgCol);
  padding: 0;
}
.cm-editor .cm-gutters, .cm-editor .cm-activeLineGutter{
  background:none;
  border:none;
  font:inherit;
}
.cm-editor.cm-focused{
  outline: 0px!important;
}
.cm-editor .cm-selectionMatch{
  background:none;
}
.cm-cursor {
  border-left: 3px solid var(--text)!important;
}
.cm-editor .cm-gutterElement{
  opacity: 0.2;
  color:var(--text);
}
.cm-editor .cm-activeLineGutter{
  opacity: 1;
}

/* Mute, solo… */
.cm-editor [data-key='state'][data-val='m'],
.cm-editor [data-key='state'][data-val='×m']{
  background: #7373735c;
} 
.cm-editor [data-key='state'][data-val~='s']{
  background: yellow;
} 
/* Begins with # for comments */
div[data-key^="#"] {
  background: #ffffffb2;
}
div[data-key="c"] {
  font-family: Toren, liberation serif;
  background: linear-gradient(to right, var(--comments) -30% , transparent 10%);
  color: var(--comments);
  border-left: 1px solid var(--comments);
  transform-origin: top left;
  transform: skew(32deg);
}
div[data-key="c"] .ͼd{
  color: var(--comments);
}
.cm-editor [data-key='meta']{
  display: none;
}
.cm-editor [data-key='id']{
  color:var(--idCol);
}
/* type: numbers */
.cm-editor .ͼd{
  color:var(--digits);
}
/* type: null */
.cm-editor .ͼb{ 
  color: #666;
}
.cm-editor.dragged{
  background:green;
}

[data-saved="saved"]       .editor{background:var(--saved);}
[data-saved="saved-error"] .editor{background:var(--error);}

/* text selection on editor */
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground{background:#ffffffcc;}

/* text selection on page */
::selection {background:none;}
::-moz-selection {background:none;}