
@font-face {
  font-family: 'sono';
  src: url('font/Sono-MONO-wght.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body[data-theme="bright"]{
  --w:blue;
  --bgCol:#fff;
  --idCol:var(--w);
  --selection:white;
  --comments:yellow;
  --digits:var(--w);
  --text: var(--w);
  --saved:cyan;
  --footer:#000;
  --activeline:#4444445e;
  --btn: black;
  --font:26px/var(--lh) sono, monospace;
}
footer{
  /* display: none; */
}
.editor{
  /* margin-left:20vw; */
}
.cm-line{
  animation:medaille-anim 8s ease-in-out calc(var(--line)*.15s) alternate-reverse infinite;
}
@keyframes medaille-anim{
  0% {
    /* font-variation-settings:"MONO" 0.844; */
    letter-spacing: .3em;
    /* font-weight: 808; */
  }
  100%{
    /* font-variation-settings:"MONO" 0; */
    letter-spacing: -.1em;
    /* font-weight: 200; */
  }
}