:root{
  --bgCol:#aaa;
  --selection:yellow;
  --text:black;
  --footer:red;
  --comments:black;
  --btn:white;
  --mute:red;
  --font: 26px/var(--lh) "version4", monospace;
  --acviteline:purple;
  --saved:linear-gradient(red -490% ,var(--bgCol)) fixed;
  --streetH:3000vh;
}
.street-box{
  /* pointer-events: none; */
  position: absolute;
  left: 0;
  top: calc( -1 * var(--streetH) + 400vh);
  height: var(--streetH);
  width: 100%;
  animation: walk 1800s linear 0s infinite;
  /*! z-index: 0; */
}
@keyframes walk{
  100% {top:calc(var(--streetH) * 1);}
}
.street-box:after{
  content: "";
  position: absolute;
  left: 29vw;
  top: 0;
  width: 42vw;
  height: var(--streetH);
  background-size: 100%;
  background-repeat: repeat-y ;
  background-position: center;
  background-image: url(img/passage.svg);
  z-index: -1;
}
aside{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: var(--streetH);
  z-index: 4;
  top: 0;
  box-shadow: 5px 0px 5px #3332;
  background:#ccc;
  transition: all 15s ease-out;
}
aside:before{
  content: "";
  position: absolute;
  top:0;
  width: 8vw;
  height: 100%;
  background: maroon;
  opacity: .2;
  background-size: 1.5vw;
  background-repeat: repeat-y ;
  background-position: center;
}
.street-box .an-left{
  left: -30vw;
}
.street-box .an-right{
  right: -30vw;
}
.an-left::before{
  right: -8vw;
  border-right:.5vw dashed white;
  background-image:url(img/veloL.svg);
}
.an-right::before{
  left: -8vw;
  border-left:.5vw dashed white;
  background-image:url(img/veloR.svg);
}
.street-box.appear .an-left{
  left: 0;
  border-right:2px solid #999;
  padding-right:6vw;
}
.street-box.appear .an-right{
  right: 0;
  border-left:2px solid #999;
  padding-left:6vw;
}
.building{
  border-color:#0002;
  width:15vw;
  height:5vh;
  background:#333;
  position: relative;
  filter:saturate(.2);
  transition: 5s all ease;
  box-shadow: 140px 0px 0px #3333;
}
.building:hover{
  transition-duration: .5s;
  border-radius: 100%;
}
.building:hover::after{
  display: none;
}
/* Cheminées */
.building[data-chem]:after{
  content: "";
  position: absolute;
  box-shadow: 5px 0px 2px #3335;
  opacity: .2
}
.building[data-chem="1"]:after{
  top:10%;
  left:50%;
  width: 15%;
  height: 15%;
  background:#ccc;
  border:5px solid #000;
}
.building[data-chem="2"]:after{
  bottom:4%;
  left:5%;
  width: 10%;
  height: 10%;
  background:#ccc;
  border:3px solid #eee;
}
.building[data-chem="3"]:after{
  bottom:18%;
  right:15%;
  width: 15%;
  height: 15%;
  border-radius: 50px;
  background:#111;
  border:2px solid #000;
}
.building[data-chem="4"]:after{
  bottom:28%;
  right:10%;
  width: 40%;
  height: 70%;
  border-radius: 5px;
  background:#fffc;
  border:5px outset #fff;
}

/* Shops */
/* .building[data-shop]::before{
  transform: rotate(90deg);
  transform-origin: top left;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  top:0;
  font-family: sans-serif;
  font-size:.5em;
  left:0;
  width:calc(var(--h) * .44vh);
  position: absolute;
}
.an-left .building[data-shop]::before{
  transform: rotate(-90deg);
  transform-origin: top right;
  left: initial;
  right: 0;
}
.building[data-shop="1"]::before{
  background: orange;
  content: "Chaussures";
}
.building[data-shop="2"]::before{
  background: cyan;
  content: "Chicha";
} */
.editor{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  /*! margin: 15vh 29vw; */
  top: 15vh;
  left: 29vw;
  width: calc(100vw - 29vw * 2);
  z-index: 1;
}
.an-left .building[data-in="1"]{left:-10px;}
.an-right .building[data-in="1"]{right:-10px;}

/* Editor */

.cm-editor .cm-scroller {
  line-height: 1.2em;
}
.cm-editor .cm-tooltip-autocomplete ul li[aria-selected]{
  color:var(--text);
}
.cm-editor .ͼd, .wm-box, .cm-editor [data-key="id"], .cm-editor .ͼb{
  color: var(--text);
}
.cm-editor [data-key='id'] .ͼd{
  background: var(--text);
  color: var(--bgCol);
  padding: 0 2px;
}
div[data-key="c"]{
  background: none;
  border:none;
}
.cm-editor [data-key='c'] .ͼd{
  background: red;
}
.cm-editor [data-key="state"][data-val="m"], .cm-editor [data-key="state"][data-val="×m"]{
  color:var(--mute);
  background:none;
}
.cm-editor [data-key="state"]{
  text-decoration: underline;
}
/* No footer buttons but timer */
footer >*:not(.timer){
  display: none;
}
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground{background:lime;}

@font-face {
  font-family: 'version4';
  src: url('fonts/version_0.4_100_skeletor_avec-webfont.woff2') format('woff2'),
      url('fonts/version_0.4_100_skeletor_avec-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
