
.lyrics-box{
    position: fixed;
    right: 0px;
    top: 1em;
    height: 100vh;
    font-size: 46px;
    /* font-family:Paganini; */
    font-family:Ballet;
    color:black;
    width: 50%;
    line-height: 1em;
    padding: 5px 5px 0 0;
    z-index:0;
    pointer-events: none;
    text-align: right;
}
.lyrics-box i{
    display: none;
    font-family: sans-serif;
    font-size: .6em;
    font-weight: bold;
    line-height: 1.2em;
    font-style: normal;
    transform: scale(.6,1);
    transform-origin: top right;
}