@font-face {
    font-family: 'ete-mono';
    src: url('etemonoMono400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ete-mono';
    src: url('etemonoMono300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ete-mono';
    src: url('etemonoMono700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ballet';
    src: url('Ballet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('FreeSerif.woff2') format('woff2'),
        url('FreeSerif.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}