:root{
  --bgCol:#ffffff;
  --selection:red;
  --text:black;
  --footer:white;
  --comments:red;
  --btn:white;
  --acviteline:red;
  --saved:black;
}

body{
  margin:1.4em;
  border:1px solid var(--text);
  transition:none;
}
body::before{display: none;}
.cm-line.playing{
  background: var(--text);
}
.cm-editor [data-key="id"]{
  border-left:1em solid black;
  color: var(--text);
  
}
.cm-editor .cm-scroller {
  font-family: "freeSerif";
  letter-spacing: 1px
}
.cm-editor .ͼd, .wm-box, .cm-editor .ͼb{
  color: var(--text);
}
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground{background:var(--selection);}
footer{
  flex-wrap: wrap;
  width: 1.4em;
  justify-content:center;
}
footer p{
  font-size:.7em;
  padding:.2em 0
}
@font-face {
  font-family: 'FreeSerif';
  src: url('fonts/FreeSerifItalic.woff2') format('woff2'),
      url('fonts/FreeSerifItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FreeSerif';
  src: url('fonts/FreeSerifBoldItalic.woff2') format('woff2'),
      url('fonts/FreeSerifBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FreeSerif';
  src: url('fonts/FreeSerifBold.woff2') format('woff2'),
      url('fonts/FreeSerifBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FreeSerif';
  src: url('fonts/FreeSerif.woff2') format('woff2'),
      url('fonts/FreeSerif.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
