@font-face {
  font-family: 'Ductus Mono regular';
  src: url('fonts/DuctusMonoRegular.woff2') format('woff2'),
      url('fonts/DuctusMonoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --bgCol:#1e5537;
  --selection:#459b45;
  --text:#ffe768;
  --footer:black;
  --comments:#1b926b;
  --btn:black;
  --acviteline:#ffe76833;
  --saved:linear-gradient(yellow -490% ,var(--bgCol)) fixed;
}
body{
  cursor: url(img/cursor-mint.svg) 3 3, auto;
}
/* Bridge */
body[data-br="true"]{
  background-color:#111;
}
body[data-br="true"] .editor,
body[data-br="true"] .wm-leave-box, 
body[data-br="true"] .wm-letter-box{
  animation: wmBridge 5s linear 0s infinite;
}
body[data-br="true"] .editor{
  box-shadow: inset 0 0 200px lime;
}
@keyframes wmBridge{
  100% {filter:hue-rotate(360deg);}
}
/* body[data-br="true"]  .wm-shadow{
  filter:drop-shadow(0 0 50px lime)
} */
/* -------- */
.cm-editor .cm-scroller {
  font-family: "Ductus Mono regular";
}
.cm-editor .ͼd, .wm-box, .cm-editor [data-key="id"], .cm-editor .ͼb{
  color: var(--text);
}
.wm-leave-box{
  background-image: url(mint.png);
  background-position:center center;
  background-repeat:no-repeat;
  background-size: cover;
  pointer-events: none;
  left: 30vh;
  top: 0;
  height:100vh;
  width: 50%;
  position: fixed;
  opacity: 0;
  transition: opacity 260s ease;
}
.wm-leave-box.animate{
  opacity: 1;
}
.wm-letter-box{
  color:#ffe768;
  display:flex;
  flex-wrap:wrap;
  font-family: "Ductus Mono regular";
  position: absolute;
  right: 0;
  top: 0;
  /* height: 100vh; */
  width: 50%;
  padding: 0em;
  z-index:4;
}
.wm-square {
  width:1em;
  height:var(--lh);
  cursor:crosshair;
}
.cm-editor [data-key='id'] .ͼd{
  background: var(--text);
  color: var(--bgCol);
  border-radius: 90px;
  padding: 0 5px;
}
.wm-box::selection{
  background:transparent;
}
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground{background:#000000;}