.gallery{
  position: absolute;
  right: 0px;
  top: 0;
  width: 50%;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction:column-reverse;
}
.gallery img{
  width: 100%;
  height: 55vh;
  object-position: right;
  object-fit: contain;
  transition: height .8s ease-out;
}
img.g-extend{
  height: 5vh;
}