body[data-theme="bright"]{  
  --saved:gray;
  --w:black;
  --bgCol: #fff;
  --idCol: var(--w);
  --selection: blue;
  --comments: #0006;
  --digits: blue;
  --text: var(--w);
  --footer: #000;
  --btn: #999;
  --font: 26px / var(--lh)  "FreeSerif";
  --activepad:blue;
  --activeline:#0000001C;
}
footer{
  /* display: none; */
}
svg{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}
