@font-face {
    font-family: '1';
    src: url('Half-51.woff2') format('woff2'),
        url('Half-51.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2';
    src: url('Hanken-Book.woff2') format('woff2'),
        url('Hanken-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '3';
    src: url('probably-spring.woff2') format('woff2'),
        url('probably-spring.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '4';
    src: url('Iosevka-Medium.woff2') format('woff2'),
        url('Iosevka-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

