@font-face {
    font-family: 'FreeSerif';
    src: url('FreeSerifItalic.woff2') format('woff2'),
        url('FreeSerifItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('FreeSerifBoldItalic.woff2') format('woff2'),
        url('FreeSerifBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('FreeSerifBold.woff2') format('woff2'),
        url('FreeSerifBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSerif';
    src: url('FreeSerif.woff2') format('woff2'),
        url('FreeSerif.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

