
@font-face {
  font-family: 'sono';
  src: url('font/Sono-MONO-wght.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body[data-theme="bright"]{
  --w:yellow;
  --bgCol: #ff5900;
  --idCol: var(--w);
  --selection: blue;
  --comments: yellow;
  --digits: var(--w);
  --text: var(--w);
  --saved: cyan;
  --footer: #000;
  --activeline: #4444445e;
  --btn: black;
  --font: 26px / var(--lh) sono, monospace;}
footer{
  /* display: none; */
}
