.keyled{
  font-size: 45vh;
  height: auto;
  position: absolute;
  top: .5em;
  left: 0;
  line-height: 1em;
  width: 100%;
  height: 1em;
  vertical-align: center;
  pointer-events: none;
  opacity: .3;
}