@font-face {
    font-family: 'League Script';
    src: url('LeagueScriptThin-Regular.woff2') format('woff2'),
        url('LeagueScriptThin-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scriptina';
    src: url('Scriptina.woff2') format('woff2'),
        url('Scriptina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

