body[data-theme="dark"]{
  --w:#fff;
  --bgCol:#000;
  --idCol:var(--w);
  --selection:purple;
  --comments:yellow;
  --digits:var(--w);
  --text: var(--w);
  --saved:purple;
  --footer:#000;
  --activeline:#4444445e;
  --btn: black;
}
footer{
  display: none;
}
[data-key="id"]{
  -webkit-text-stroke:8px;
  text-stroke:8px;
}
.message-box{
  display:none;
}
.text-box{
  background:white;
  position: fixed;
  right: -2vw;
  bottom: -.5vw;
  height: 1vw;
  width: 50%;
  z-index: 3;
  pointer-events: none;
  text-align: right;
  transform: rotate(50deg);
  transform-origin: 97% center;
  transition: all .15s ease;
}
